.background{
  height: 100vh;
  background: linear-gradient(135deg, #330867  50%, #30cfd0 0%);
  
  overflow: hidden;
}


.container-know-me{
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button-know-me{
  width: 20vw;
  height: 20vw;
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 2vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}

.button-know-me:hover{
  
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.container-content{
  display: flex;
  background: linear-gradient(135deg, #330867 , #30cfd0 );
  height: 100vh;
  animation: fade-in 1s;
}
@keyframes fade-in {
  from {
      opacity: 0;
}

  to {
      opacity: 1;
  }
}

.option-inner-content{
  background-color: white;
  width: 75%;
  border-radius: 0 10px 10px 0;
  animation: leftToRight 0.5s;
  height: 90vh;
  margin: 5vh 0;
  transition: all 0.5s;
}

@keyframes leftToRight {
  from {
      width: 0%;
}

  to {
      width: 75%;
  }
}

@keyframes topToBottom {
  from {
    height: 0vh;
}

  to {
    height: 75vh;
  }
}




@media only screen and (max-width: 800px) {

  .container-content{
    display: flex;
    flex-direction: column;
  }
  .option-inner-content {
    width: 90vw;
    border-radius: 0 0 10px 10px;
    animation: topToBottom 0.5s;
    height: 75vh;
    margin: 0 5vw;
    transition: all 0.5s;
}
}