.background{
  height: 100vh;
  background: linear-gradient(135deg, #330867  50%, #30cfd0 0%);
  
  overflow: hidden;
}


.container-know-me{
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button-know-me{
  width: 20vw;
  height: 20vw;
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 2vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}

.button-know-me:hover{
  
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.container-content{
  display: flex;
  background: linear-gradient(135deg, #330867 , #30cfd0 );
  animation: fade-in 1s;
}
@keyframes fade-in {
  from {
      opacity: 0;
}

  to {
      opacity: 1;
  }
}

.option-inner-content{
  background-color: white;
  width: 75%;
  border-radius: 0 10px 10px 0;
  animation: leftToRight 0.5s;
  height: 90vh;
  margin: 5vh 0;
  transition: all 0.5s;
}

@keyframes leftToRight {
  from {
      width: 0%;
}

  to {
      width: 75%;
  }
}

.content-item{
  width: 24%;
  margin-top: -20vh;
  height: 200vh;
  transform: rotate(10deg);
  cursor: pointer;
  transition: all 0.5s;
}

.content-item:hover{
  transform: rotate(10deg) scale(1.2);
  transition: all 0.5s;
}

.content-home{
  filter: brightness(40%);
  background-image: url("./assets/home-bg.jpg");
}

.content-home:hover{
  filter: brightness(100%);
}

.content-home-info{
  
  padding-top: 60vh;
  color: white;
  font-size: 7vw;
  transform: rotate(-10deg);
}
.content-work{
  filter: brightness(40%);
  background-image: url("./assets/work-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-work:hover{
  filter: brightness(100%);
}

.content-work-info{
  padding-top: 60vh;
  color: white;
  font-size: 7vw;
  transform: rotate(-10deg);
}


.content-about{
  filter: brightness(40%);
  background-image: url("./assets/about-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-about:hover{
  filter: brightness(100%);
}

.content-about-info{
  padding-top: 60vh;
  color: black;
  font-size: 7vw;
  transform: rotate(-10deg);
}

.content-contact{
  filter: brightness(40%);
  background-image: url("./assets/contact-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-contact:hover{
  filter: brightness(100%);
}
.content-contact-info{
  padding-top: 60vh;
  color: white;
  font-size: 7vw;
  transform: rotate(-10deg);
}